<!DOCTYPE html>
<html>
  <head>
    <title>Example CouchApp</title>
    <link rel="stylesheet" href="style/main.css" type="text/css">
  </head>
  <body>
    <h1>PD B</h1>
    <input type="number" value="0" name="num" id="ilosc" />
    <button id="przycisk">Maks</button>
    <!--<div id="content"></div>-->
    <div id="content1"></div>
  </body>
  <script src="/_utils/script/sha1.js"></script>
  <script src="/_utils/script/json2.js"></script>
  <script src="/_utils/script/jquery.js"></script>
  <script src="/_utils/script/jquery.couch.js"></script>
  <script src="vendor/couchapp/jquery.couchLogin.js"></script>
  <script src="vendor/couchapp/jquery.couchProfile.js"></script>
  <script src="vendor/couchapp/md5.js"></script>
  <script src="vendor/couchapp/jquery.mustache.js"></script>

<!-- templates used by app.js -->
  <div>
      <script id="widok_1" type="text/x-mustache" charset="utf-8">
            <h2>Najwiecej zapytan</h2>
            <ul>
              {{#lista1}}
                <li>
                  <p>Host: {{ adres }} </p>
                  <p>Zapytania: {{ilosc}}</p>
                </li>
              {{/lista1}}
            </ul>
      </script>
  </div>
  <script src="script/app.js"></script>

</html>
